<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstgithub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3B9866E1D412EF100525119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B9868A1D412EF100525119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B986951D412EF100525119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
